form{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formLogin{
    margin: 2%;
    margin-top: 10%;
    border-radius: 20px;
    border:2px solid #fff;
    background: linear-gradient(rgb(124, 124, 161), pink);
}

.buttonLogin{
    --ion-color-primary: #fff;
    background-color: var (--ion-color-primary);
    color: #000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttonRegister{
    background-color: linear-gradient(rgb(124, 124, 161), pink);
    --ion-color-primary: linear-gradient(rgb(124, 124, 161), pink);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ion-icon{
   margin-right: 2%;
   padding-right: 10px;
}
img{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}