<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="loginForm">

  <ion-item>
    <ion-input label="Email" labelPlacement="floating"  placeholder="name@example.com" formControlName="email"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.email" >
      <div *ngIf="(
        loginForm.get('email')?.hasError(validation.type) && 
        loginForm.get('email')?.dirty)
      ">
        {{validation.message}}
      </div>
    </ng-container>
    <ng-container *ngFor="let validation of validation_messages.password" >
      <div *ngIf="(
        loginForm.get('password')?.hasError(validation.type) &&
        loginForm.get('password')?.dirty)
      ">
        {{validation.message}}
      </div>
    </ng-container>
  </div>

  <ion-item>
    <ion-input label="Password" labelPlacement="floating"  placeholder="*********" formControlName="password"></ion-input>
  </ion-item>
</form>
</ion-content>
