<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-margin">
          <ion-item>
            <ion-input label="Email" labelPlacement="floating" placeholder="name@example.com"
              formControlName="email"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div *ngIf="(
        loginForm.get('email')?.hasError(validation.type) && 
        loginForm.get('email')?.dirty)
      ">
            {{validation.message}}
          </div>
        </ng-container>
        <ng-container *ngFor="let validation of validation_messages.password">
          <div *ngIf="(
        loginForm.get('password')?.hasError(validation.type) &&
        loginForm.get('password')?.dirty)
      ">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-margin">
          <ion-item>
            <ion-input label="Password" labelPlacement="floating" placeholder="*********" formControlName="password"
              type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin">
        <ion-button expand="full" color="success" type="submit" [disabled]="!loginForm.valid">Ingresar</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin">
        <ion-button expand="full" color="secondary" type="submit" (click)="goToRegister()">Registrate</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>