.title{
    font-family: var(--family-card);
    text-align: center;
  }
  
  h3{
    font-size: var(--art-card);
  }
  
  p{
    font-family: var(--description-font-card);
    padding: 1%;
    margin: 3%;
    text-align: justify;
  }
  .slide-icon{
    font-size: 60px;
    text-align: center;
  }
  
  .controls{
    opacity: 40%;
  }
  
  #play-buttom{
    margin: 10px;
  }
  
  ion-content{
    --background: rgb(27, 26, 26);
    --ion-font-family: 'Gill Sans';
  }
  
  .main-music{
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .close-icon{
    font-size: 40px;
    color: var(--ion-color-danger);
    display: block;
    margin-left: auto;
  }

  ion-progress-bar{
    background-color: var(--ion-color-dark-tint);
  }

