<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()">
        Atras
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/images/karaoke.png" alt="">
  <form class="formRegister" [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">

    <ion-item>
      <ion-icon name="mail-open-outline"></ion-icon>
      <ion-input label="Correo" labelPlacement="floating" placeholder="name@example.com" formControlName="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-open-outline"></ion-icon>
      <ion-input label="Contraseña" labelPlacement="floating" placeholder="*******"
        formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person-outline"></ion-icon>
      <ion-input label="Nombre" labelPlacement="floating" placeholder="Nombre" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person-outline"></ion-icon>
      <ion-input label="Apellido" labelPlacement="floating" placeholder="Apellido"
        formControlName="last_name"></ion-input>
    </ion-item>
    
    <ion-button type="submit" [disabled]="!registerForm.valid">
      <ion-icon name="log-out-outline"></ion-icon>
      REGISTRARSE
    </ion-button>


  </form>
</ion-content>